.chart {
  flex: 6;
  box-shadow: 0px 3px 10px -5px rgba(89, 87, 87, 0.78);
  -webkit-box-shadow: 0px 3px 10px -5px rgba(89, 87, 87, 0.78);
  -moz-box-shadow: 0px 3px 10px -5px rgba(89, 87, 87, 0.78);
}
.title {
  padding: 20px;
}
