.chart {
  flex: 6;
  box-shadow: 3px 10px 19px -9px rgba(0, 0, 0, 0.52);
  -webkit-box-shadow: 3px 10px 19px -9px rgba(0, 0, 0, 0.52);
  -moz-box-shadow: 3px 10px 19px -9px rgba(0, 0, 0, 0.52);
}
.title {
  padding: 20px;
}
