.home {
  display: flex;
  .home-container {
    flex: 6;
    .widgets {
      width: 100%;
      display: flex;
      padding: 20px;
      gap: 20px;
      justify-content: space-between;
    }
    .charts {
      width: 100%;
      display: flex;
      padding: 5px 20px;
      gap: 20px;
    }
    .list-container {
      box-shadow: 3px 10px 19px -9px rgba(0, 0, 0, 0.52);
      -webkit-box-shadow: 3px 10px 19px -9px rgba(0, 0, 0, 0.52);
      -moz-box-shadow: 3px 10px 19px -9px rgba(0, 0, 0, 0.52);
      padding: 20px;
      margin: 20px;
      .list-title {
        font-weight: 500;
        color: gray;
        margin-bottom: 15px;
      }
    }
  }
}
