.widget {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex: 1;
  box-shadow: 0px 3px 10px -5px rgba(89, 87, 87, 0.78);
  -webkit-box-shadow: 0px 3px 10px -5px rgba(89, 87, 87, 0.78);
  -moz-box-shadow: 0px 3px 10px -5px rgba(89, 87, 87, 0.78);
  border-radius: 10px;
  .left,
  .right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    .title {
      font-weight: bold;
      font-size: 14px;
      color: rgb(156, 156, 156);
    }
    .counter {
      font-size: 28px;
      font-weight: 300;
    }
    .link {
      width: max-content;
      font-size: 12px;
      border-bottom: 1px solid gray;
    }
    .percentage {
      display: flex;
      flex-direction: row;
      align-items: center;
      font-size: 14px;
      &.positive {
        color: green;
      }
      &.negative {
        color: red;
      }
    }
    .icon {
      font-size: 23px;
      padding: 5px;
      border-radius: 5px;
      background-color: rgb(227, 118, 227);
      align-self: flex-end;
    }
  }
}
