.app.dark {
  color: rgb(173, 173, 173);

  .home {
    background-color: #222;
  }
  .home-container,
  .list-container {
    background-color: #222;
  }

  .table {
    background-color: #111;
    .tableCell {
      color: gray;
    }
  }
  .navbar {
    color: #999;
    background-color: rgb(29, 29, 29);
    border-color: #333;
    .search {
      border-color: gray;
    }
  }
  .sidebar {
    background-color: #111;
    border-color: #333;
    .top {
      .logo {
        color: #999;
      }
    }
    hr {
      border-color: #333;
    }
    ul {
      li {
        &:hover {
          background-color: #333;
          color: rgb(214, 214, 214);
        }
        .icon {
          color: #999;
        }
      }
    }
  }
  .datatable {
    .datagrid {
      color: rgb(179, 178, 178);
      border: none;
      .viewButton,
      .deleteButton,
      .cellStatus {
        color: rgb(179, 178, 178);
        border-color: gray;
        transition: all 0.5s ease;
        &:hover {
          color: white;
          border-color: white;
        }
      }
    }
    .addBtn {
      color: rgb(179, 178, 178);
      background-color: #222;
      border-color: gray;
      transition: all 0.5s ease;
      &:hover {
        color: white;
        border-color: white;
      }
    }
  }
  .singleTitle {
    color: gray;
  }
  .itemInfo {
    .itemValue {
      color: gray;
    }
  }
  input {
    background-color: transparent;
    color: gray;
  }
  .singleContainer {
    color: rgb(179, 178, 178) !important;
    background-color: #222;
    .left {
      .itemTitle,
      .itemValue {
        color: rgb(148, 148, 148) !important;
      }
      .itemKey {
        color: #777 !important;
      }
      .editButton {
        background-color: inherit;
        border: 1px solid grey;
        color: rgb(179, 178, 178) !important;
      }
    }
    .bottom {
      .title {
        color: rgb(179, 178, 178) !important;
      }
    }
  }
  .newContainer {
    background-color: #222;
    color: rgb(179, 178, 178) !important;
    .top {
      h1 {
        color: rgb(179, 178, 178) !important;
      }
    }
    .bottom {
      .right {
        button {
          background-color: inherit;
          border: 1px solid gray;
          color: rgb(179, 178, 178);
          transition: all 0.5s ease;
          &:hover {
            color: white;
            border-color: white;
          }
        }
      }
    }
  }
}
