.datatable {
  padding: 20px 10px;
  .datatableTitle {
    width: 100%;
    font-size: 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .addBtn {
    padding: 5px 10px;
    border: 1px solid green;
    color: green;
    background-color: white;
    cursor: pointer;
    border-radius: 5px;
  }
  .cellWithImg {
    display: flex;
    align-items: center;
  }
  .cellImg {
    width: 32px;
    height: 32px;
    object-fit: cover;
    margin-right: 20px;
    border-radius: 50%;
  }
}
.cellAction {
  display: flex;
  align-items: center;
  gap: 15px;
  .viewButton {
    padding: 2px 5px;
    border-radius: 5px;
    color: darkblue;
    border: 0.5px solid darkblue;
    cursor: pointer;
  }
  .deleteButton {
    padding: 2px 5px;
    border-radius: 5px;
    color: crimson;
    border: 0.5px solid rgba(220, 20, 60, 0.6);
    cursor: pointer;
  }
}
.search {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border: 1px solid lightgray;
  width: 300px;
  input {
    border: none;
    outline: none;
    padding: 5px 10px;
    width: 100%;
  }
}
